body {
  font-size: 1.6rem;
  color: #111827;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
}

@media (max-width: 621px) {
  body {
    background-color: #fff;
  }
}

@media (min-width: 622px) {
  body {
    background-color: #f4f2ee;
  }
}
